In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_excel("/content/drive/MyDrive/MTP phase 2/Type of work_excel.xlsx")
df.head(10)

   case no                                               text  class
0     21.0  This appeal is directed against the final judg...    0.0
1     21.0  Respondent No. 1-the Contractee Company was aw...    1.0
2     21.0  The total contract value as per the Letter of ...    0.0
3     21.0  On 21.09.2012, the Contractee Company submitte...    0.0
4     22.0  A petition under Section 34 of the Arbitration...    0.0
5     22.0  At the outset it is observed that though the p...    0.0
6     22.0  The arbitral award emanates from a dispute bet...    1.0
7     22.0  The arbitral award has been passed by the arbi...    1.0
8     27.0  Both the cases are taken up together as in bot...    0.0
9     27.0  The present petition has been filed against th...    0.0

In [ ]:
x = df['text']
y = df['class']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size = 0.2)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(X_train)
xv_test = vectorization.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import MultinomialNB, GaussianNB, BernoulliNB
from sklearn.svm import LinearSVC
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
LR = LogisticRegression()
DT = DecisionTreeClassifier()
MNB = MultinomialNB()
LSVC = LinearSVC()
KNN = KNeighborsClassifier()

In [ ]:
LR.fit(xv_train, y_train)
DT.fit(xv_train, y_train)
MNB.fit(xv_train, y_train)
LSVC.fit(xv_train, y_train)
KNN.fit(xv_train, y_train)

KNeighborsClassifier()

In [ ]:
print(LR.score(xv_test, y_test))
print(DT.score(xv_test, y_test))
print(MNB.score(xv_test, y_test))
print(LSVC.score(xv_test, y_test))
print(KNN.score(xv_test, y_test))

0.7
0.75
0.6
0.8
0.85

In [ ]:
pred_KNN =  KNN.predict(xv_test)

In [ ]:
def output_label(n):
  if n == 1:
    return "Text describing type of work"
  elif n == 0:
    return "Text not describing type of work"

def manual_testing(news):
  testing_news = {"text":[news]}
  new_def_test = pd.DataFrame(testing_news)
  #new_def_test["text"] = new_def_test["text"].apply(wordopt)
  new_x_test = new_def_test["text"]
  new_xv_test = vectorization.transform(new_x_test)
  pred_LR = LR.predict(new_xv_test)

  return print("Model Prediction:  {}".format(output_label(pred_LR)))

In [ ]:
print("Enter the text:")
news = str(input())
print("\n")
manual_testing(news)

Enter the text:
Pursuant to tender notice No.ADB-2/WB/S-10 of 1991-92, the respondent submitted its tender and was awarded contract for improvement of a stretch of Panagarh - Moregram Road of about 34 kilometres, between Mohammad Bazar and Rampurhat, at a total cost of Rs.46,20,66,911


Model Prediction:  Text describing type of work